
<div id="map"></div>
<div id="info-pane" class="leaflet-bar"></div>
<div id="BtnMonstrarConven">
    <button type="button" class="btn btn-primary btn-sm" id="MostrarConvenciones">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <small id="textlegend">Ocultar</small>
</button>
</div>


    <div id="menu-holder">

        <div class="price_table">

            <div class="column_1">
                <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Soluci&oacute;n <span id="NumSol1"></span></div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price">
                            <label class="sol_divi">|</label>
                            <span id="iconSol1">
                                <span><img src="images/Homer/solar.png" class="img_sol" />8 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/eolica.png" class="img_sol" />6 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/diesel.png" class="img_sol" />9 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/baterias.png" class="img_sol" />5 </span><label class="sol_divi">|</label>
                            </span>
                        </div>
                    </li>
                    <li class="row_style_1 "><span><strong>Capital Inicial: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCi1"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de operaci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$/A&nacute;o <span id="solCo1"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de la Soluci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCs1"></span></li>
                    <li class="row_style_1 "><span><strong>Costo Nivelado: </strong></span></li>
                    <li class="row_style_0  ">$/kWh <span id="solCn1"></span></li>
                    <li class="row_style_1 "><span><strong>Fracci&oacute;n Renovables:</strong></span></li>
                    <li class="row_style_0  "> <span id="solRen1"></span>%</li>	
                </ul>
            </div><!--end column-->

            <div class="column_1">
                <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Soluci&oacute;n <span id="NumSol2"></span></div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price">
                            <label class="sol_divi">|</label>
                            <span id="iconSol2">
                                <span><img src="images/Homer/solar.png" class="img_sol" />8 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/eolica.png" class="img_sol" />6 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/diesel.png" class="img_sol" />9 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/baterias.png" class="img_sol" />5 </span><label class="sol_divi">|</label>
                            </span>
                        </div>
                    </li>
                    <li class="row_style_1 "><span><strong>Capital Inicial: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCi2"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de operaci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$/A&nacute;o <span id="solCo2"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de la Soluci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCs2"></span></li>
                    <li class="row_style_1 "><span><strong>Costo Nivelado: </strong></span></li>
                    <li class="row_style_0  ">$/kWh <span id="solCn2"></span></li>
                    <li class="row_style_1 "><span><strong>Fracci&oacute;n Renovables:</strong></span></li>
                    <li class="row_style_0  "> <span id="solRen2"></span>%</li>
                </ul>
            </div><!--end column-->
            <div class="column_1">
                <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Soluci&oacute;n <span id="NumSol3"></span></div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price">
                            <label class="sol_divi">|</label>
                            <span id="iconSol3">
                                <span><img src="images/Homer/solar.png" class="img_sol" />8 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/eolica.png" class="img_sol" />6 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/diesel.png" class="img_sol" />9 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/baterias.png" class="img_sol" />5 </span><label class="sol_divi">|</label>
                            </span>
                        </div>
                    </li>
                    <li class="row_style_1 "><span><strong>Capital Inicial: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCi3"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de operaci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$/A&nacute;o <span id="solCo3"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de la Soluci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCs3"></span></li>
                    <li class="row_style_1 "><span><strong>Costo Nivelado: </strong></span></li>
                    <li class="row_style_0  ">$/kWh <span id="solCn3"></span></li>
                    <li class="row_style_1 "><span><strong>Fracci&oacute;n Renovables:</strong></span></li>
                    <li class="row_style_0  "> <span id="solRen3"></span>%</li>
                </ul>
            </div><!--end column-->
            <div class="column_1">
                <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Soluci&oacute;n <span id="NumSol4"></span></div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price">
                            <label class="sol_divi">|</label>
                            <span id="iconSol4">
                                <span><img src="images/Homer/solar.png" class="img_sol" />8 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/eolica.png" class="img_sol" />6 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/diesel.png" class="img_sol" />9 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/baterias.png" class="img_sol" />5 </span><label class="sol_divi">|</label>
                            </span>
                        </div>
                    </li>
                    <li class="row_style_1 "><span><strong>Capital Inicial: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCi4"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de operaci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$/A&nacute;o <span id="solCo4"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de la Soluci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCs4"></span></li>
                    <li class="row_style_1 "><span><strong>Costo Nivelado: </strong></span></li>
                    <li class="row_style_0  ">$/kWh <span id="solCn4"></span></li>
                    <li class="row_style_1 "><span><strong>Fracci&oacute;n Renovables:</strong></span></li>
                    <li class="row_style_0  "> <span id="solRen4"></span>%</li>
                </ul>
            </div><!--end column-->
            <div class="column_1">
                <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Soluci&oacute;n <span id="NumSol5"></span></div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price">
                            <label class="sol_divi">|</label>
                            <span id="iconSol5">
                                <span><img src="images/Homer/solar.png" class="img_sol" />8 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/eolica.png" class="img_sol" />6 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/diesel.png" class="img_sol" />9 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/baterias.png" class="img_sol" />5 </span><label class="sol_divi">|</label>
                            </span>
                        </div>
                    </li>
                    <li class="row_style_1 "><span><strong>Capital Inicial: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCi5"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de operaci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$/A&nacute;o <span id="solCo5"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de la Soluci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCs5"></span></li>
                    <li class="row_style_1 "><span><strong>Costo Nivelado: </strong></span></li>
                    <li class="row_style_0  ">$/kWh <span id="solCn5"></span></li>
                    <li class="row_style_1 "><span><strong>Fracci&oacute;n Renovables:</strong></span></li>
                    <li class="row_style_0  "> <span id="solRen5"></span>%</li>
                </ul>
            </div><!--end column-->
            <div class="column_1">
                <ul>
                    <li class="header_row_1 align_center">
                        <div class="pack-title">Soluci&oacute;n <span id="NumSol6"></span></div>
                    </li>
                    <li class="header_row_2 align_center">
                        <div class="price">
                            <label class="sol_divi">|</label>
                            <span id="iconSol6">
                                <span><img src="images/Homer/solar.png" class="img_sol" />8 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/eolica.png" class="img_sol" />6 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/diesel.png" class="img_sol" />9 </span><label class="sol_divi">|</label>
                                <span><img src="images/Homer/baterias.png" class="img_sol" />5 </span><label class="sol_divi">|</label>
                            </span>
                        </div>
                    </li>
                    <li class="row_style_1 "><span><strong>Capital Inicial: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCi6"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de operaci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$/A&nacute;o <span id="solCo6"></span></li>
                    <li class="row_style_1 "><span><strong>Costo de la Soluci&oacute;n: </strong></span></li>
                    <li class="row_style_0  ">$ <span id="solCs6"></span></li>
                    <li class="row_style_1 "><span><strong>Costo Nivelado: </strong></span></li>
                    <li class="row_style_0  ">$/kWh <span id="solCn6"></span></li>
                    <li class="row_style_1 "><span><strong>Fracci&oacute;n Renovables:</strong></span></li>
                    <li class="row_style_0  "> <span id="solRen6"></span>%</li>
                </ul>
            </div><!--end column-->
            


        </div><!--end menu-holder-->

    </div>

<div class="col-sm-2 col-md-2" id="panel_formulario" style="max-width:350px;min-width:300px;">
    <div class="panel panel-primary">
        <div class="panel-body">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#Busqueda" aria-controls="Busqueda" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-search" data-toggle="tooltip" id="BusquedaColor" data-placement="top" title="" data-original-title="Busqueda"></span> Busqueda.
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                   
                    <div role="tabpanel" class="tab-pane active" id="Busqueda">
                        <br>
                        <form style="text-align: center;">
                            <h5>Ingrese el nombre del Departamento o Municipio de interés.</h5>
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" id="city" placeholder="Departamento Municipio">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="BtnBusquedaMun" disabled>
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id="BtnLimpiarMun">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>

<div class="col-sm-2 col-md-2" id="panel_superDerecho" style="max-width:400px;min-width:360px;">
    <div class="panel panel-primary" >
        <div class="panel-body">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-xs" id="closePanelDem">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#BarDemanda"  role="tab" data-toggle="tab">Demanda Proyectada</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="BarDemanda">
                    <center>
                        <div id="containerDemanda" style="min-width: 250px; height: 300px; margin: 0 auto"></div>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="carousel-panel-generic" style="width:110px">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row-fluid">
                            <div class="col-sm-12 col-md-12" id="BaseESRIStreets" value="Streets">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/calles.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6>Calles</h6></center></div>
                                </a>
                            </div>
                            
                        </div><!--/row-fluid-->
                    </div><!--/item-->
                    <div class="item ">
                        <div class="row-fluid">
                            <div class="col-sm-12 col-md-12" id="BaseESRISatellite" value="Imagery">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/satelite.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6 style="color:rgba(255, 255, 255,1)">Satelite</h6></center></div>
                                </a>
                            </div>
                        </div><!--/row-fluid-->
                    </div><!--/item-->
                    <div class="item">
                        <div class="row-fluid">
                            <div class="col-sm-12 col-md-12" id="BaseESRITopo" value="Topographic">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/topografic.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6>Topografico</h6></center></div>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="item">
                        <div class="row-fluid">
                            <div class="col-sm-12 col-md-12" id="BaseOSM" value="OSM">
                                <a href="#" class="thumbnail">
                                    <img src="~/images/baselayers/OSM.PNG" style="max-width:100%;">
                                    <div class="carousel-caption"><center><h6>OSM</h6></center></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
    </div><!--/myCarousel-->
</div>
<div class='mouse-position panel'>
    <div class="panel-body">
        <h6> <b id='mousemove'><b /></h6>
    </div>
</div>
@Scripts.Render("~/bundles/appMapGlobal")
@Scripts.Render("~/bundles/appMap")
